@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

.Float-L {
  float: left; }

.Float-R {
  float: right; }

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/helvetica.eot");
  src: url("assets/fonts/helvetica.eot?#iefix") format("embedded-opentype"), url("assets/fonts/helvetica.woff") format("woff"), url("assets/fonts/helvetica.ttf") format("truetype"), url("assets/fonts/helvetica.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: normal; }
h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  color: #ed4d84;
  padding: 10px 20px; }

h1, h2 {
  line-height: 1.1; }

h3, h4 {
  line-height: 1.3; }

h1 {
  font-size: 5em;
  letter-spacing: -2px; }

h2 {
  font-size: 3em;
  font-weight: 600;
  color: #4b5a62; }

h3 {
  font-size: 2.4em;
  font-weight: 400;
  color: #4b5a62; }

h4 {
  font-size: 1.8em;
  font-weight: 400;
  color: #4b5a62; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.25em;
  color: #4b5a62; }

h6 {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.25em;
  color: #4b5a62; }

p {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: lighter;
  color: #868686;
  padding: 10px 20px; }

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/helvetica.eot");
  src: url("assets/fonts/helvetica.eot?#iefix") format("embedded-opentype"), url("assets/fonts/helvetica.woff") format("woff"), url("assets/fonts/helvetica.ttf") format("truetype"), url("assets/fonts/helvetica.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: normal; }
h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  color: #ed4d84;
  padding: 10px 20px; }

h1, h2 {
  line-height: 1.1; }

h3, h4 {
  line-height: 1.3; }

h1 {
  font-size: 5em;
  letter-spacing: -2px; }

h2 {
  font-size: 3em;
  font-weight: 600;
  color: #4b5a62; }

h3 {
  font-size: 2.4em;
  font-weight: 400;
  color: #4b5a62; }

h4 {
  font-size: 1.8em;
  font-weight: 400;
  color: #4b5a62; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.25em;
  color: #4b5a62; }

h6 {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.25em;
  color: #4b5a62; }

p {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: lighter;
  color: #868686;
  padding: 10px 20px; }

@font-face {
  font-family: "Helvetica";
  src: url("assets/fonts/helvetica.eot");
  src: url("assets/fonts/helvetica.eot?#iefix") format("embedded-opentype"), url("assets/fonts/helvetica.woff") format("woff"), url("assets/fonts/helvetica.ttf") format("truetype"), url("assets/fonts/helvetica.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: normal; }
h1, h2, h3, h4, h5, h6, p {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  color: #ed4d84;
  padding: 10px 20px; }

h1, h2 {
  line-height: 1.1; }

h3, h4 {
  line-height: 1.3; }

h1 {
  font-size: 5em;
  letter-spacing: -2px; }

h2 {
  font-size: 3em;
  font-weight: 600;
  color: #4b5a62; }

h3 {
  font-size: 2.4em;
  font-weight: 400;
  color: #4b5a62; }

h4 {
  font-size: 1.8em;
  font-weight: 400;
  color: #4b5a62; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.25em;
  color: #4b5a62; }

h6 {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.25em;
  color: #4b5a62; }

p {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: lighter;
  color: #868686;
  padding: 10px 20px; }

body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100; }
  @media all and (min-width: 20em) {
    body:before {
      content: "mobile ≥ 320px (20em)"; } }
  @media all and (min-width: 30em) {
    body:before {
      content: "mobileLandscape ≥ 480px (30em)"; } }
  @media all and (min-width: 46.25em) {
    body:before {
      content: "tablet ≥ 740px (46.25em)"; } }
  @media all and (min-width: 61.25em) {
    body:before {
      content: "desktop ≥ 980px (61.25em)"; } }
  @media all and (min-width: 81.25em) {
    body:before {
      content: "wide ≥ 1300px (81.25em)"; } }

body {
  padding-top: 50px; }

.CTA-Button {
  color: white;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 20px;
  background: #868686;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none; }

.ALT-Button {
  color: white;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 20px;
  background: #caac27;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none; }

.Pagination {
  text-align: center; }
  .Pagination ul {
    list-style: none;
    margin: 10px 10px;
    padding: 10px 20px;
    text-align: center; }
  .Pagination li {
    display: inline;
    background: #868686;
    padding: 10px 20px; }
    .Pagination li.Active {
      background: #ED4D84; }
  .Pagination a {
    margin: 1px 2px;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif; }
    .Pagination a:first-child, .Pagination a.first {
      margin-left: 0; }
    .Pagination a:last-child, .Pagination a.last {
      margin-right: 0; }

.Full-Bleed {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%; }

.Middle-Six {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%;
  margin-left: 26.04167%;
  margin-right: 26.04167%; }

.Bottom-Padding {
  padding-bottom: 5%; }

.Top-Padding {
  padding-top: 5%; }

.Stand-Out {
  background: #caac27;
  margin: 10%, 5%;
  text-align: center; }

img {
  display: inline-block;
  background-color: #868686;
  margin: 10px 20px;
  border: 0px solid #868686; }
