// The _base.scss includes basic syles of all standard html elements.
// The simple stuff, no classes, no component- or project level styles.
// Included for ALL projects, but can be overwritten. 
// If not overwritten is serves as an unbranded, clickable wireframe. 


// Body
// ====================================================================//

body {
	color: #333;
}

::-moz-selection {
	background: $color1;
	text-shadow: none;
}

::selection {
	background: $color1;
	text-shadow: none;
}


// Links
// ====================================================================//

a {
	img {
		border: 0;
	}

	&:hover {
		text-decoration: none;
	}
}


// Images
// ====================================================================//


// Buttons
// ====================================================================//

.btn {
	display: inline-block;
	font-weight: bold;
	padding: 8px 5px;
	background-color: #000;
	color: #fff;

	&:hover {
		background-color: #333;
	}
}

// Forms
// ====================================================================//


// Tables
// ====================================================================//