@import "partials/_typography.scss";

@mixin button($background-colour: #868686, $font-colour: #ffffff) {
  color: $font-colour;
  display: inline-block;
  margin: 10px 20px;
  padding: 5px 10px;
  background: $background-colour;
  font:{
    family: $default-font;
    weight: lighter;
    size: .8em;
  }
  text:{
    transform: uppercase;
    decoration: none;
  }
}