@mixin pagination($background-colour: #868686, $font-colour: #ffffff) {
  text-align: center;

  ul {
    list-style: none;
    margin: 10px 10px;
    padding: 10px 20px;
    text-align: center;
  }

  li {
    display: inline;
    background: $background-colour;
    padding: 10px 20px;

    &.Active {
      background: #ED4D84;
    }
  }

  a {
    margin: 1px 2px;
    padding: 5px 10px;
    display: inline-block;

    text-decoration: none;
    color: $font-colour;
    font-family: $default-font;

    &:first-child, &.first  { margin-left: 0; }
    &:last-child, &.last    { margin-right: 0; }
  }
}