// Import partials
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_helpers.scss";
@import "partials/_mixins.scss";
@import "partials/_base.scss";
@import "partials/_grid.scss";
@import "partials/_layout.scss";
@import "partials/_components.scss";

// Configure _mq

$mq-responsive: true;
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,

    desktopAd: 810px,
    mobileLandscape: 480px
);
$mq-static-breakpoint: desktop;
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

@import "partials/_mq.scss";
